{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}About Us{% endblock %}</title>

    <div class="container" style="margin: 40px;">
        <div class="text-center rounded shadow-lg position-relative">
            <!-- Back Button -->
            <a href="javascript:history.back()" class="btn btn-outline-primary position-absolute" style="top: 20px; right: 20px;">
                ← Back
            </a>

        </div>
    </div>

    <div class="kingster-page-wrapper" id="kingster-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 30px 0px;">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 29px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;">
                                                    About LITSU
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                            <div class="gdlr-core-divider-container" style="max-width: 265px ;">
                                                <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #ff0303ff ;border-width: 4px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-custom-menu-item gdlr-core-item-pdlr gdlr-core-item-pdb">
                                            <ul id="menu-about-starz-menu" class="menu">
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6760">
                                                    <a href="#">Apply For LITSU Membership</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-81823">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h6 class="gdlr-core-title-item-title gdlr-core-skin-title ">
                                                    How We Started
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                <p>
                                                    Liberia Information Technology Student Union (LITSU) was officially established 
                                                    in October 25, 2015 as a Technology union in Liberia by a purposeful young ICT 
                                                    student called Willie Bee Tingba, Jr. 
                                                    A student of the United Methodist University (UMU) and later, 
                                                    he encouraged student Foldestine Paye of the Blue Crest university 
                                                    and few other guys from various ICT institutions in Liberia to 
                                                    join him on the revolution.                                                     
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                <p>
                                                    LITSU Members have the opportunity 
                                                    to run for elected office, assist in a community project,
                                                    explore career choices, receive recognition and prestige through 
                                                    local and national programs with competitive events and awards, 
                                                    and expand their knowledge of technology and its application 
                                                    in today’s world.
                                                </p>
                                                <p>
                                                    LITSU chapter activities are designed to provide an opportunity for 
                                                    growth and learning in the classroom, laboratory, school, and/or community. 
                                                    Participation in LITSU programs and activities is an integral part of 
                                                    <strong>Technology Education</strong>.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 50px 0px 70px 0px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ededed ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                        <div class="gdlr-core-pbf-column gdlr-core-column-24 gdlr-core-column-first" id="gdlr-core-column-96571">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: 0px -50px 0px 0px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ededed ;"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align">
                                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;margin: 0px -40px 0px 0px;">
                                                <a class="gdlr-core-lightgallery gdlr-core-js" href="{% static 'assets/img/logo.jpg' %}">
                                                    <img src="{% static 'assets/img/logo.jpg' %}" alt="" width="332" height="324" title="Dathong-Thumbnail" />
                                                    <span class="gdlr-core-image-overlay ">
                                                        <i class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-24" id="gdlr-core-column-81376">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ededed ;"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-blockquote-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-large-size">
                                            <div class="gdlr-core-blockquote gdlr-core-info-font">
                                                <div class="gdlr-core-blockquote-item-quote gdlr-core-quote-font gdlr-core-skin-icon"> &#8220;</div>
                                                <div class="gdlr-core-blockquote-item-content-wrap">
                                                    <div class="gdlr-core-blockquote-item-content gdlr-core-skin-content">
                                                        <h3>
                                                            “We Think of the future & hope for the progress through technology”
                                                        </h3>
                                                    </div>
                                                    <div class="gdlr-core-blockquote-item-author gdlr-core-skin-caption">
                                                        Liberia Information Technology Student Union
                                                        <span class="gdlr-core-blockquote-item-author-position">
                                                            Motto
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 30px 0px 30px 0px;">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-icon " style="margin-top: 5px;">
                                                <i class="icon_lightbulb_alt" style="color: #2d9bea ;"></i>
                                            </div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title">
                                                        Our Creed
                                                    </h3>
                                                </div>
                                                <div class="gdlr-core-column-service-content"
                                                    style="text-transform: none ;">
                                                    <p>
                                                        “We believe that Technology Education holds an important place in our life in 
                                                        the technical world. We believe there is a need for the development of good 
                                                        attitudes concerning work, tools, materials, experimentation and processes of 
                                                        industry.” “Guided by our teachers, artisans from industry, and our own initiative, 
                                                        we will strive to do our best in making my school, community, and nation better 
                                                        places in which to live.”  
                                                    </p>
                                                    <p>
                                                        “We will accept the responsibilities that are ours. 
                                                        We will accept the theories that are supported by proper evidence. 
                                                        We will explore on our own for safer, more effective methods of 
                                                        working and living.” “We will strive to develop a cooperative attitude and 
                                                        will exercise tact and respect for other individuals.”
                                                    </p>
                                                    <p>
                                                        “Through the work 
                                                        of our hands and mind, we will express our ideas to the best of our ability.” 
                                                        “We will make it our goal to do better each day the task before us, 
                                                        and to be steadfast in our belief in our God and our fellow Liberians.”
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-icon " style="margin-top: 5px;">
                                                <i class="icon_desktop" style="color: #2d9bea ;"></i>
                                            </div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title">
                                                        Our Mission Statement
                                                    </h3>
                                                </div>
                                                <div class="gdlr-core-column-service-content"
                                                    style="text-transform: none ;">
                                                    <p>  
                                                        LITSU’s mission is to promote leadership development. 
                                                        To improve the quality of technology and the prosperity for 
                                                        the young people of Liberia through quality higher technology 
                                                        education that includes: teaching, research and community service. 
                                                        To provide equal opportunity and encouragement for women involvement 
                                                        in technology and personal growth in a technological society. 
                                                    </p>
                                                    
                                                    <p>
                                                        The LISU’s program of activities and support service for student members 
                                                        help to carry out this mission. The LITSU’s mission is accomplished through 
                                                        local and national chapters.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr">
                                            <div class="gdlr-core-column-service-media gdlr-core-media-icon " style="margin-top: 5px;">
                                                <i class="icon_genius" style="color: #2d9bea ;"></i>
                                            </div>
                                            <div class="gdlr-core-column-service-content-wrapper">
                                                <div class="gdlr-core-column-service-title-wrap">
                                                    <h3 class="gdlr-core-column-service-title gdlr-core-skin-title">
                                                        Our Vision Statement
                                                    </h3>
                                                </div>
                                                <div class="gdlr-core-column-service-content" style="text-transform: none ;">
                                                    <div style="display: flex; align-items: flex-start; margin-bottom: 15px;">
                                                        <h5 style="margin: 0; margin-right: 10px;">1</h5>
                                                        <div>
                                                            <p style="margin: 0 0 10px 0; text-align: justify;">
                                                                Students will have contact with industrial and technological personnel, 
                                                                resources, and developments to acquire technological understanding, 
                                                                consumer knowledge, and competencies that lead to responsible citizenship.
                                                            </p>
                                                        </div>
                                                    </div>


                                                    <div style="display: flex; align-items: flex-start; margin-bottom: 15px;">
                                                        <h5 style="margin: 0; margin-right: 10px;">2</h5>
                                                        <p style="margin: 0; text-align: justify;">
                                                            Students will engage in activities that allow them to be leaders and 
                                                            Students will plan, organize, and carry out activities and projects that 
                                                            contribute to an improvement in or service to the school and/or community.
                                                        </p>
                                                    </div>

                                                    <div style="display: flex; align-items: flex-start; margin-bottom: 15px;">
                                                        <h5 style="margin: 0; margin-right: 10px;">3</h5>
                                                        <p style="margin: 0; text-align: justify;">
                                                            Students will use the free enterprise system to become aware of employment 
                                                            or self-employment opportunities and requirements for their use when making 
                                                            career choices to determine their educational programs.
                                                        </p>
                                                    </div>

                                                    <div style="display: flex; align-items: flex-start;">
                                                        <h5 style="margin: 0; margin-right: 10px;">3</h5>
                                                        <p style="margin: 0; text-align: justify;">
                                                            Students will be recognized for demonstrated understanding of technology, 
                                                            high standards of quality, scholarship, and safety practices.
                                                        </p>
                                                    </div>                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 30px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f8f8f8ff ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>

                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 55px ;">
                                            <div class="gdlr-core-title-item-left-icon">
                                                <i class="fa fa-circle-o-notch"></i>
                                            </div>
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 36px ;font-weight: 300 ;letter-spacing: 0px ;text-transform: none ;margin-right: 30px ;">
                                                        Board Members 
                                                    </h3>
                                                    <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 36px ;"></div>
                                                </div>
                                                <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                    Our Advisory board members
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/Mr_Latim_Dathong.jpg' %}" target="_self">
                                                                <img src="{% static 'assets/img/Mr_Latim_Dathong.jpg' %}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://web.facebook.com/theliberianinvestigator/posts/monrovia-the-founder-of-starz-university-ambassador-latim-da-thong-has-thrown-hi/122202153506284152/?_rdc=1&_rdr#"  target="_blank">
                                                                    Ambassador Latim Dathong
                                                                </a>

                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            CEO / Starz University
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/images.jpeg' %}" target="_self">
                                                                <img src="{% static 'assets/img/images.jpeg' %}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://web.facebook.com/theliberianinvestigator/posts/monrovia-the-founder-of-starz-university-ambassador-latim-da-thong-has-thrown-hi/122202153506284152/?_rdc=1&_rdr#"  target="_blank">
                                                                    Mr Abdullah Kamara
                                                                </a>

                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Chairman / LTA
                                                        </span>
                                                    </div>
                                                </div>

                                                

                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/Mr_Olu_Olutola.jpg' %}" target="_self">
                                                                <img src="{% static 'assets/img/Mr_Olu_Olutola.jpg' %}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://www.linkedin.com/in/oluolutola/" target="_self">Mr Olu Olutola,</a> 
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Global Telecommunication & Digital Transformation Expert
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/ali-karama.png' %}" target="_self">
                                                                <img src="{% static 'assets/img/ali-karama.png' %}" width="250" height="250"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://amaratechit.com/conference/" target="_self">Mr. Ali Kamara,</a> 
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            CEO / Amara Tech IT Solutions
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/images (1).jpeg' %}" target="_self">
                                                                <img src="{% static 'assets/img/images (1).jpeg' %}" alt="" width="250" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://www.linkedin.com/in/viviencharlesjones/?originalSubdomain=lr" target="_self">Mr. Vivien C. Jones,</a> 
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            CEO / MWetana
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{% static 'assets/img/luther1_7AkLy2j.webp' %}" target="_self">
                                                                <img src="{% static 'assets/img/luther1_7AkLy2j.webp' %}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />

                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                <a href="https://www.linkedin.com/in/oluolutola/" target="_self">MMr. Luther Jeke,</a> 
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            CEO / iCoampus Liberia                
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}