{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}LITSU - Chapters{% endblock %}</title>

    <div class="container" style="margin: 40px;">
        <div class="text-center rounded shadow-lg position-relative">
            <!-- Back Button -->
            <a href="javascript:history.back()" class="btn btn-outline-primary position-absolute" style="top: 20px; right: 20px;">
                ← Back
            </a>

        </div>
    </div>

    <div class="kingster-page-wrapper" id="kingster-page-wrapper">
        <div class="gdlr-core-page-builder-body">

            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 30px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f8f8f8ff ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>

                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 55px ;">
                                           
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 36px ;font-weight: 300 ;letter-spacing: 0px ;text-transform: none ;margin-right: 30px ;">
                                                        {{chapter.chapters_name}}
                                                    </h3>

                                                    <p>
                                                        Our dedicated leaders who guide our chapters 
                                                        and share their vision for growth, unity, and impact. 
                                                        Through their commitment, wisdom, and service, they empower 
                                                        members, foster collaboration, and create opportunities 
                                                        that strengthen our community and inspire future generations.
                                                    </p>

                                                    <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 36px ;"></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.chairman_pic.url}}" target="_self">
                                                                <img src="{{chapter.chairman_pic.url}}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.chairman_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Chairman
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            
                                                            <a href="{{chapter.co_chairman_pic.url}}" target="_self">
                                                                <img src="{{chapter.co_chairman_pic.url}}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"  />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.co_chairman_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Co-Chairman
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.secretary_pic.url}}" target="_self">
                                                                <img src="{{chapter.secretary_pic.url}}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.secretary_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Secretary
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.financial_secretary_pic.url}}" target="_self">
                                                                <img src="{{chapter.financial_secretary_pic.url}}" width="250" height="250"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.financial_secretary_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Financial Secretary
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.training_director_pic.url}}" target="_self">
                                                                <img src="{{chapter.training_director_pic.url}}" alt="" width="250" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.training_director_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Training director
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.program_director_pic.url}}" target="_self">
                                                                <img src="{{chapter.program_director_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.program_director_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Program Pirector             
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.treasurer_pic.url}}" target="_self">
                                                                <img src="{{chapter.treasurer_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.treasurer_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Treasure           
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.chaplain_pic.url}}" target="_self">
                                                                <img src="{{chapter.chaplain_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.chaplain_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Chaplain          
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.parliamentarian_pic.url}}" target="_self">
                                                                <img src="{{chapter.parliamentarian_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.parliamentarian_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            <p class="d-block text-body-secondary small mb-3">Parliamentarian</p>         
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.reporter_pic.url}}" target="_self">
                                                                <img src="{{chapter.reporter_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                Chapter Reporter
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Reporter        
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{chapter.girl_in_ict_pic.url}}" target="_self">
                                                                <img src="{{chapter.girl_in_ict_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chapter.girl_in_ict_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Director Girl In ICT     
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}