{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}Contact Us{% endblock %}</title>

    <div class="container" style="margin: 20px;">
        <div class="text-center p-5 rounded shadow-lg position-relative">
            <!-- Back Button -->
            <a href="javascript:history.back()" class="btn btn-outline-primary position-absolute" style="top: 20px; right: 20px;">
                ← Back
            </a>

            <!-- Page Title -->
            <h4 class="fw-bold display-6 mb-3">
                Contact Us
            </h4>
        </div>
    </div>

    <div class="kingster-page-wrapper" id="kingster-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            
            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        
                        <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 20px 0px 20px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 25px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 32px ;font-weight: 700 ;">
                                                    Write to us
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                            style="padding-bottom: 35px ;">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>
                                                    Contact us today if you have any questions 
                                                    or inquiries regarding our LITSU.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {% include 'includes/error.html' %}
                                    
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                            style="padding-bottom: 35px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <div class="frm_forms  with_frm_style frm_style_formidable-style" id="frm_form_12_container">
                                                    
                                                    <form enctype="multipart/form-data" method="post" action="{% url 'contact_us' %}" class="frm-show-form frm_pro_form styled-form" id="form_contactformofficial">
                                                        {% csrf_token %}
                                                        <div class="frm_form_fields">
                                                            <fieldset>
                                                                <legend class="frm_screen_reader">Contact Form Official</legend>

                                                                <div class="frm_fields_container">

                                                                    <div class="frm_form_field">
                                                                        <label for="field_xnztr">Fullname <span class="required">*</span></label>
                                                                        <input type="text" id="field_xnztr" name="name" placeholder="Enter your full name" required/>
                                                                    </div>

                                                                    <div class="frm_form_field">
                                                                        <label for="field_8zg4e">Email <span class="required">*</span></label>
                                                                        <input type="email" id="field_8zg4e" name="email" placeholder="Enter your email" required/>
                                                                    </div>

                                                                    <div class="frm_form_field">
                                                                        <label for="field_vo67h">Your Message <span class="required">*</span></label>
                                                                        <textarea id="field_vo67h" name="message" rows="6" placeholder="Type your message..." required></textarea>
                                                                    </div>

                                                                    <div class="frm_submit">
                                                                        <button class="frm_button_submit frm_final_submit" type="submit">Submit</button>
                                                                    </div>

                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-column gdlr-core-column-20">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 20px 0px 20px;">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 25px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 28px ;font-weight: 700 ;">
                                                    Location
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p style="margin: 0px;">
                                                    Ministry of Posts & Telecommunications
                                                </p>
                                                <p style="margin: 0px;">
                                                    857X+MV4, Carey St,
                                                </p>
                                                <p style="margin: 0px;">
                                                     Monrovia, Liberia
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align">
                                            <ul>
                                                <li class=" gdlr-core-skin-divider gdlr-core-with-hover clearfix">
                                                    <span class="gdlr-core-icon-list-icon-wrap">
                                                        <i class="gdlr-core-icon-list-icon-hover fa fa-envelope-o" style="font-size: 16px ;"></i>
                                                        <i class="gdlr-core-icon-list-icon fa fa-envelope-o" style="font-size: 16px ;width: 16px ;"></i>
                                                    </span>

                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">
                                                            litsu.org@gmail.com
                                                        </span>
                                                    </div>
                                                    <span class="gdlr-core-icon-list-icon-wrap">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M16 8a8 8 0 0 1-7.022 7.94l1.902-7.098a3 3 0 0 0 .05-1.492A3 3 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8M0 8a8 8 0 0 0 7.927 8l1.426-5.321a3 3 0 0 1-.723.255 3 3 0 0 1-1.743-.147 3 3 0 0 1-1.043-.7L.633 4.876A8 8 0 0 0 0 8m5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a3 3 0 0 0-1.252.243 2.99 2.99 0 0 0-1.81 2.59M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                                        </svg>
                                                    </span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">
                                                            info@litsu.org
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider gdlr-core-with-hover clearfix">
                                                    <span class="gdlr-core-icon-list-icon-wrap">
                                                        <i class="gdlr-core-icon-list-icon-hover fa fa-phone" style="font-size: 16px ;"></i>
                                                        <i class="gdlr-core-icon-list-icon fa fa-phone" style="font-size: 16px ;width: 16px ;"></i>
                                                    </span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">
                                                            +231 770420687, <br> +231 770245416, <br> +231 886619149
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
             
            <div class="gdlr-core-pbf-section">
                <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                            style="padding-bottom: 10px ;">
                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                <h5 class="gdlr-core-title-item-title gdlr-core-skin-title ">
                                    <i class="fa fa-telegram"></i>
                                    Find us on the social media
                                </h5>
                            </div>
                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                Let's stay  in touch
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="gdlr-core-pbf-wrapper " style="padding: 10px 0px 75px 0px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffff ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeInUp" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 0px ;">
                                <a href="mailto:litsu.org@gmail.com" target="_blank" class="gdlr-core-social-network-icon" title="email" style="font-size: 20px ;color: #232323 ;">
                                    <i class="fa fa-envelope"></i>
                                </a>

                                <a href="https://web.facebook.com/LITSU.edu.liberia.org" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="font-size: 20px ;color: #232323 ;margin-left: 37px ;">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus" style="font-size: 20px ;color: #232323 ;margin-left: 37px ;">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin" style="font-size: 20px ;color: #232323 ;margin-left: 37px ;">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="font-size: 20px ;color: #232323 ;margin-left: 37px ;">
                                    <i class="fa fa-skype"></i>
                                </a>
                                
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="font-size: 20px ;color: #232323 ;margin-left: 37px ;">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.6154173033483!2d-10.80286652521601!3d6.31414552556126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf09f7f56302a421%3A0xf4822753b04246d8!2sMinistry%20of%20Posts%20%26%20Telecommunications!5e0!3m2!1sen!2s!4v1726195436669!5m2!1sen!2s"  width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
            </div>
        </div>
    </div>

{% endblock content %}