{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}Home{% endblock %}</title>

    <div class="kingster-page-wrapper" id="kingster-page-wrapper" >
		<div class="gdlr-core-page-builder-body clearfix">
			
			<!-- benner-->
			<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;" >
				<div class="gdlr-core-pbf-background-wrap" style="background-color: #192f59 ;"  ></div>
				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js "   >
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space" >
						<div class="gdlr-core-pbf-element" >
							<div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px ;"  >
				
								<!-- START Homepage REVOLUTION SLIDER 6.7.31 -->
								<p class="rs-p-wp-fix"></p>
								
								<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery"style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
									<rs-module id="rev_slider_1_1" style="" data-version="6.7.31">
										<rs-slides style="overflow: hidden; position: absolute;">
											
											<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide" data-thumb="{% static 'assets/img/benner2.jpg' %}" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
												<img src="{% static 'assets/img/benner2.jpg' %}" alt="" title="Homepage" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{% static 'assets/img/benner2.jpg' %}" data-no-retina>
												<rs-layer id="slider-1-slide-3-layer-1" data-type="text" data-rsp_ch="on" data-xy="xo:38px,38px,38px,31px;y:m;yo:-146px,-146px,-146px,-101px;" data-text="s:33,33,33,27;l:33;fw:300;a:inherit;" data-frame_0="x:-50px;" data-frame_1="sR:10;" data-frame_999="o:0;st:w;sR:8690;" style="z-index:8;font-family:'Poppins';">
													Message of  Appreciation
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-2" data-type="text" data-rsp_ch="on" data-xy="xo:55px;y:m;yo:-52px,-52px,-52px,-29px;" data-text="s:88,88,88,38;l:88;fw:700;a:inherit;" data-dim="w:auto,auto,auto,357px;" data-frame_1="st:360;sR:360;" data-frame_999="o:0;st:w;sR:8340;" style="z-index:10;font-family:'Playfair Display';">
													From LITSU 
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-3" data-type="text" data-rsp_ch="on" data-xy="xo:423px,423px,423px,221px;y:m;yo:-51px,-51px,-51px,-27px;" data-text="s:88,88,88,38;l:88;a:inherit;" data-frame_1="st:360;sR:360;" data-frame_999="o:0;st:w;sR:8340;" style="z-index:11;font-family:'Playfair Display';">
													
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-4" class="tp-shape tp-shapewrapper" data-type="shape" data-rsp_ch="on"
													data-xy="xo:33px,33px,33px,31px;y:m;yo:-44px,-44px,-44px,-22px;" data-text="fw:700;a:inherit;"
													data-dim="w:830px,830px,830px,378px;h:118px,118px,118px,73px;" data-border="bor:3px,3px,3px,3px;"
													data-frame_1="st:330;sR:330;" data-frame_999="o:0;st:w;sR:8370;"
													style="z-index:9;background-color:rgba(24,36,59,0.9);">
												</rs-layer>
												
											</rs-slide>

											<rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide" data-thumb="{% static 'assets/img/benner1.jpg' %}" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
												<img src="{% static 'assets/img/benner1.jpg' %}" alt="" title="Homepage" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{% static 'assets/img/benner1.jpg' %}" data-no-retina>
												<rs-layer id="slider-1-slide-3-layer-1" data-type="text" data-rsp_ch="on" data-xy="xo:38px,38px,38px,31px;y:m;yo:-146px,-146px,-146px,-101px;" data-text="s:33,33,33,27;l:33;fw:300;a:inherit;" data-frame_0="x:-50px;" data-frame_1="sR:10;" data-frame_999="o:0;st:w;sR:8690;" style="z-index:8;font-family:'Poppins';">
													We Walk Together, We Move Together
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-2" data-type="text" data-rsp_ch="on" data-xy="xo:55px;y:m;yo:-52px,-52px,-52px,-29px;" data-text="s:88,88,88,38;l:88;fw:700;a:inherit;" data-dim="w:auto,auto,auto,357px;" data-frame_1="st:360;sR:360;" data-frame_999="o:0;st:w;sR:8340;" style="z-index:10;font-family:'Playfair Display';">
													we push Technology
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-3" data-type="text" data-rsp_ch="on" data-xy="xo:423px,423px,423px,221px;y:m;yo:-51px,-51px,-51px,-27px;" data-text="s:88,88,88,38;l:88;a:inherit;" data-frame_1="st:360;sR:360;" data-frame_999="o:0;st:w;sR:8340;" style="z-index:11;font-family:'Playfair Display';">
													
												</rs-layer>
												
												<rs-layer id="slider-1-slide-3-layer-4" class="tp-shape tp-shapewrapper" data-type="shape" data-rsp_ch="on"
													data-xy="xo:33px,33px,33px,31px;y:m;yo:-44px,-44px,-44px,-22px;" data-text="fw:700;a:inherit;"
													data-dim="w:830px,830px,830px,378px;h:118px,118px,118px,73px;" data-border="bor:3px,3px,3px,3px;"
													data-frame_1="st:330;sR:330;" data-frame_999="o:0;st:w;sR:8370;"
													style="z-index:9;background-color:rgba(24,36,59,0.9);">
												</rs-layer>
												
											</rs-slide>								
												
											<rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-thumb="{% static 'assets/img/benner3.jpg' %}" data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
												<img src="{% static 'assets/img/benner3.jpg' %}" alt="" title="Homepage" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{% static 'assets/img/benner3.jpg' %}" data-no-retina>
												<rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-rsp_ch="on" data-xy="xo:36px,36px,36px,35px;y:m;yo:-120px,-120px,-120px,-91px;" data-text="s:33,33,33,28;l:33;fw:300;a:inherit;" data-frame_0="x:-50px;tp:600;" data-frame_1="tp:600;sR:10;" data-frame_999="o:0;tp:600;st:w;sR:8690;" style="z-index:5;font-family:'Poppins';">
													In this digital age.
												</rs-layer>
												<rs-layer id="slider-1-slide-1-layer-2" data-type="text" data-rsp_ch="on" data-xy="xo:33px;y:m;yo:-31px;" data-text="s:83,83,83,41;l:83;fw:600;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;st:370;sR:370;" data-frame_999="o:0;tp:600;st:w;sR:8330;" style="z-index:6;font-family:'Poppins';">
													The symbol of transformation 
												</rs-layer>
											</rs-slide>

										</rs-slides>
									</rs-module>
									<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
										setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1240,1240,480],el:[713,713,713,440],gw:[1380,1380,1380,480],gh:[713,713,713,440],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
									</script>
								</rs-module-wrap>
								<!-- END REVOLUTION SLIDER -->
	
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- The Icons-->
			<div class="gdlr-core-pbf-wrapper  hp1-col-services" style="margin: -43px auto 0px auto;padding: 0px 0px 0px 0px;max-width: 1320px ;" data-skin="Blue Title" id="gdlr-core-wrapper-1">
				<div class="gdlr-core-pbf-background-wrap"></div>
				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
						<div class="gdlr-core-pbf-wrapper-container-inner gdlr-core-item-mglr clearfix" style="box-shadow: 0 -6px 34px rgba(10, 10, 10,0.09); background-color: #ffffff; border-radius: 3px; z-index: 99; display: flex; justify-content: center; align-items: flex-start; gap: 40px; padding: 40px 20px;">

						<!-- Column 1 -->
						<div class="gdlr-core-pbf-column gdlr-core-column-15">
							<div class="gdlr-core-column-service-item" style="text-align: center;">
							<div class="gdlr-core-column-service-media">
								<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-houses" viewBox="0 0 16 16">
								<path d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207z"/>
								</svg>
							</div>
							<h3 style="font-size: 18px; font-weight: 600;">Chapters</h3>
							<p style="font-size: 16px; font-weight: 500;">{{chapters_count}} +</p>
							</div>
						</div>

						<!-- Column 2 -->
						<div class="gdlr-core-pbf-column gdlr-core-column-15">
							<div class="gdlr-core-column-service-item" style="text-align: center;">
							<div class="gdlr-core-column-service-media">
								<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  									<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
								</svg>
							</div>
							<h3 style="font-size: 18px; font-weight: 600;">Members</h3>
							<p style="font-size: 16px; font-weight: 500;">{{membership_count}} +</p>
							</div>
						</div>

						<!-- Column 3 -->
						<div class="gdlr-core-pbf-column gdlr-core-column-15">
							<div class="gdlr-core-column-service-item" style="text-align: center;">
							<div class="gdlr-core-column-service-media">
								<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
									<path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
									<path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
								</svg>
							</div>
							<h3 style="font-size: 18px; font-weight: 600;">Program</h3>
							<p style="font-size: 16px; font-weight: 500;">{{programs_count}} +</p>
							</div>
						</div>

						</div>
					</div>
				</div>


			</div>

			<!-- About Us -->
			<div class="gdlr-core-pbf-wrapper" style="margin-left: auto; margin-right: auto; padding: 0px 0px 0px 0px; max-width: 1320px;"  id="gdlr-core-wrapper-2">

				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom">

						<!-- Column 1 with Image -->
						<div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 80px 0px 55px 0px; min-height: 450px;" data-sync-height="height-1">
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content" style="text-align: center;">
									<img src="{% static 'assets/img/cover2.jpg' %}"  alt="LITSU Image 1"  style="width: 100%; height: 100%; border-radius: 10px;">
									<h4 class="mt-0 mb-0">International Day in ICT</h4>
									<p>
										LITSU Celebrates International Girls in ICT Day 2025 with 
										Over 100 Promising Students
									</p>
								</div>
							</div>
						</div>

					<!-- Column 2 with Content + Image -->
					<div class="gdlr-core-pbf-column gdlr-core-column-30" id="gdlr-core-column-4">
						<div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 20px 70px 55px 55px;" data-sync-height="height-1">
							<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
							
								<!-- Title -->
								<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px;">
									<span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"  style="font-size: 19px; font-weight: 500; color: #ff0101ff;">
										About LITSU
									</span>
								</div>

								<!-- Text -->
								<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px;">
									<div class="gdlr-core-text-box-item-content" style="font-size: 18px; color: #060606ff;">
										<p>
											LITSU A student organization devoted exclusively to the needs of information 
											communication technology students who are presently enrolled in or have completed 
											Technology Education courses. It is composed of Information 
											Communication Technology (ICT) students from various ICT institutions in 
											Liberia and senior high school students in Liberia that are interested in 
											reading information technology after their high school graduation.
										</p>

										<p>
											LITSU is supported by educators, parents, and business leaders who believe in a 
											technologically literate society and are working hard to achieve that goal. 
											While student organization experiences in Technology Education date back to 
											the mid-1950s, Liberia LITSU was officially established on June 24, 2015, as a 
											Technology Students Union in Liberia by a purposeful young ICT student called 
											Willie Bee Tingba, Jr and other guys from various ICT institution in Liberia.
										</p>
									</div>
								</div>


								<!-- Button -->
								<div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
									<a class="gdlr-core-button gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 15px; color: #ffffff; padding: 12px 29px 17px 31px; text-transform: none; border-radius: 2px;">
										<span class="gdlr-core-content">Read More</span>
									</a>
								</div>

							</div>
						</div>
					</div>

					</div>
				</div>
			</div>

			<!-- Program -->
			<div class="gdlr-core-pbf-wrapper" style="padding: 80px 0px 30px 0px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);" data-skin="Blut Title Column Service">
				<div class="gdlr-core-pbf-background-wrap"></div>
				
				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
						<div class="gdlr-core-pbf-element">
							<div class="gdlr-core-event-item gdlr-core-item-pdb" style="padding-bottom: 25px;">
								<div class="gdlr-core-block-item-title-wrap  gdlr-core-left-align gdlr-core-item-mglr" style="margin-bottom: 30px ;">
									<div class="gdlr-core-block-item-title-inner clearfix">
										<h3 class="gdlr-core-block-item-title" style="font-size: 24px; font-style: normal; text-transform: none; letter-spacing: 0px; color: #163269;">
											Programs
										</h3>
										<div class="gdlr-core-block-item-title-divider" style="font-size: 24px ;border-bottom-color: #dcdcdc ;border-bottom-width: 2px ;"></div>
									</div>
									<a class="gdlr-core-block-item-read-more" href="{% url 'programs_list' %}" target="_self" style="color: #ff0101ff;">
										View All Programs
									</a>
								</div>

								<!-- Slider Container -->
								<div class="event-slider-container" style="overflow: hidden; position: relative; width: 100%;">
									<!-- Slider Wrapper -->
									<div class="event-slider-wrapper" style="display: flex; transition: transform 0.5s ease-in-out;">

										{% for i in programs_blogs %}
										<div class="gdlr-core-event-item-list gdlr-core-style-grid" 
											style="background: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); overflow: hidden; margin-right: 15px;">
											<div class="gdlr-core-event-item-list-inner">
												<div class="gdlr-core-event-item-thumbnail">
													<a href="{% url 'programs_detail' i.id %}">
														<img src="{{i.image.url}}" alt="" style="width: 100%; height: 200px; object-fit: cover;" />
													</a>
												</div>
												<div class="gdlr-core-event-item-content-wrap" style="padding: 15px;">
													<h3 class="gdlr-core-event-item-title">
														<a href="{% url 'programs_detail' i.id %}">
															{{i.title}}
														</a>
													</h3>
													<div class="gdlr-core-event-item-info-wrap">
														<span class="gdlr-core-event-item-info gdlr-core-skin-caption gdlr-core-type-time">
															<i class="icon_clock_alt"></i> 
															{{i.created_at}}
														</span>
													</div>
												</div>
											</div>
										</div>
										{% endfor %}

									</div>
								</div>
							
								<script>
									let eventIndex = 0;
									function slideEvents(direction) {
										const slider = document.querySelector('.event-slider-wrapper');
										const totalSlides = document.querySelectorAll('.gdlr-core-event-item-list').length;
										const visibleSlides = 4; // show 4 cards per line
										const maxIndex = Math.ceil(totalSlides / visibleSlides) - 1;

										eventIndex += direction;
										if (eventIndex < 0) eventIndex = 0;
										if (eventIndex > maxIndex) eventIndex = 0; // loop back to start

										slider.style.transform = `translateX(-${eventIndex * 100}%)`;
									}

									// Auto-slide every 5 seconds
									setInterval(() => {
										slideEvents(1);
									}, 5000);
								</script>



							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Membership-->
			<div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
				<div class="gdlr-core-pbf-background-wrap"></div>
				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
						
						<div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js "
								style="margin: 0px 20px 0px 0px;padding: 80px 50px 0px 0px;" data-sync-height="height-2">
								<div class="gdlr-core-pbf-background-wrap"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-widget">
											<div class="gdlr-core-block-item-title-wrap  gdlr-core-left-align gdlr-core-item-mglr" style="margin-bottom: 35px ;">
												<div class="gdlr-core-block-item-title-inner clearfix">
													<h3 class="gdlr-core-block-item-title"
														style="font-size: 24px ;font-style: normal ;text-transform: none ;letter-spacing: 0px ;color: #163269 ;">
														News & Updates
													</h3>

													<div class="gdlr-core-block-item-title-divider" style="font-size: 24px ;border-bottom-width: 3px ;"></div>
												</div>
												<a class="gdlr-core-block-item-read-more" href="{% url 'news_list' %}" target="_self" style="color: #ff0101ff;">
													Read All News
												</a>
											</div>

											<div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
												<div class="gdlr-core-item-list-wrap gdlr-core-column-30">
													<div class="gdlr-core-item-list-inner gdlr-core-item-mglr">
														<div class="gdlr-core-blog-grid ">
															<div class="slider-container" style="max-width: 800px; margin: auto; overflow: hidden; position: relative; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.2);">
																<div class="slider-wrapper" style="display: flex; transition: transform 0.6s ease-in-out;">

																	<!-- Slide 1 -->
																	{% for i in president %}
																	<div class="slide" style="min-width: 100%; text-align: center;">
																		<img src="{{i.president_image.url}}" alt="President"
																			style="width: 100%; height: 250px; object-fit: cover; border-radius: 3px;">
																		<h5 style="font-size: 15px; font-weight: 600; margin: 0px 0px 0px 0px;">
																			H. E. {{i.president_name}}
																			
																		</h5>
																		<p style="font-size: 12px; font-weight: 400; margin: 0px 0px 10px 0px;">
																			The President of LITSU {{i.year}}
																		</p>
																	</div>
																	

																	<!-- Slide 2 -->
																	<div class="slide" style="min-width: 100%; text-align: center;">
																		<img src="{{i.vice_president_image.url}}" alt="Vice President" style="width: 100%; height: 250px; object-fit: cover; border-radius: 3px;">
																		
																		<h5 style="font-size: 15px; font-weight: 600; margin: 0px 0px 0px 0px;">
																			Honorable {{i.vice_president_name}}
																			
																		</h5>
																		<p style="font-size: 12px; font-weight: 400; margin: 0px 0px 10px 0px;">
																			The Vice President of LITSU {{i.year}}
																		</p>
																	</div>
																	{% endfor %}
																</div>
															</div>

															<script>
																let currentIndex = 0;
																const slides = document.querySelectorAll(".slide");
																const totalSlides = slides.length;

																function showSlide(index) {
																	const wrapper = document.querySelector(".slider-wrapper");
																	wrapper.style.transform = `translateX(${-index * 100}%)`;
																}

																function nextSlide() {
																	currentIndex = (currentIndex + 1) % totalSlides;
																	showSlide(currentIndex);
																}

																setInterval(nextSlide, 4000); // Change every 4 seconds
															</script>
														</div>
													</div>
												</div>

												<div class="gdlr-core-item-list-wrap gdlr-core-column-30">
													
													<!-- News and Announcements-->
													{% for i in blogs %}	
													<div class="gdlr-core-item-list gdlr-core-blog-widget gdlr-core-item-mglr clearfix gdlr-core-style-small">
														<div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
															<a href="{% url 'news_detalte' i.id %}">
																<img src="{{i.image.url}}" alt="" width="350" height="350" title="Student" />
															</a>
														</div>
														<div class="gdlr-core-blog-widget-content">
															<div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
																<span  class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
																	<a href="{% url 'news_detalte' i.id %}">{{i.category}}</a>
																</span>
															</div>
															<h3 class="gdlr-core-blog-title gdlr-core-skin-title mb-0" style="font-size: 15px ;font-weight: 700 ;letter-spacing: 0px ;">
																<a href="{% url 'news_detalte' i.id %}">
																	{{i.title}}
																</a>
															</h3>
															<div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider mt-0">
																<span  class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
																	<a href="{% url 'news_detalte' i.id %}">{{i.created_at}}</a>
																</span>
															</div>
														</div>
													</div>
													{% endfor %}

												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Newsletter">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: 0px 20px 0px 0px;padding: 115px 25px 15px 25px;">
								<div class="gdlr-core-pbf-background-wrap">
									<div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../../goodlayers.b-cdn.net/kingster/wp-content/uploads/2018/08/newsletter-bg.jpg) ;background-size: cover ;background-position: center ;" data-parallax-speed="0"></div>
								</div>
								<div style="background-color: #e6f0ff; border-radius: 12px; padding: 30px; box-shadow: 0px 4px 12px rgba(0,0,0,0.1); max-width: 400px; margin: auto;">

									<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
										
										<!-- Envelope Icon -->
										<div class="gdlr-core-pbf-element">
											<div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 25px;">
												<div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle">
													<img src="{% static 'assets/img/icon-envelope.png' %}" alt="icon-envelope" width="80" height="80" style="margin: auto;" />
												</div>
											</div>
										</div>

										<!-- Title -->
										<div class="gdlr-core-pbf-element">
											<div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px;">
												<div class="gdlr-core-title-item-title-wrap clearfix">
													<h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 16px; font-weight: 700; color: #040404;">
														Subscribe To Newsletter
													</h3>
												</div>
												<span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="color: #5271ff; font-style: normal;">
													Get updates to news & events
												</span>
											</div>
										</div>

										<!-- Form -->
										<div class="gdlr-core-pbf-element">
											<div class="gdlr-core-newsletter-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-style-rectangle-full">
												<div class="newsletter newsletter-subscription">
													<form class="gdlr-core-newsletter-form clearfix" method="post" action="{% url 'subscribe_email' %}" onsubmit="return newsletter_check(this)">
														{% csrf_token %}
														<div class="gdlr-core-newsletter-email" style="margin-bottom: 15px;">
															<input class="newsletter-email gdlr-core-skin-e-background gdlr-core-skin-e-content" placeholder="Your Email Address" type="email" name="email" size="30" required style="width: 100%; padding: 12px; border: 1px solid #cdd9f5; border-radius: 6px;" />
														</div>

														<div class="gdlr-core-newsletter-submit">
															<input class="newsletter-submit" type="submit" value="Subscribe" style="background-color: #5271ff; color: white; border: none; padding: 12px 20px; border-radius: 6px; cursor: pointer; font-weight: bold;" />
														</div>

													</form>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>

						<div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first" data-skin="Blue Title">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-column-extend-left" style="padding: 35px 15px 5px 0px;" data-sync-height="height-3" data-sync-height-center>
								<div class="gdlr-core-pbf-background-wrap" style="background-color: #f3f3f3;"></div>
								
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
											<div class="gdlr-core-text-box-item-content" style="text-transform: none;">
												
												<!-- Flexslider without nav arrows -->
												<div class="gdlr-core-flexslider flexslider gdlr-core-js-2" data-type="carousel" data-column="1">
													
													<ul class="slides" style="width: 600%; margin-left: 0px;">
														<li class="gdlr-core-item-mglr">
															<div class="gdlr-core-twitter-item-list">
																<span class="gdlr-core-twitter-item-list-content">
																	In the heart of West Africa, Liberia is a land blessed with history, resilience, and potential. 
																	From the struggles of rebuilding after years of civil conflict to the vibrancy of its youthful 
																	population, Liberia continues to prove that progress is always possible. 
																	One of the most transformative forces guiding this progress is technology.
																</span>
															</div>
														</li>

														<li class="gdlr-core-item-mglr">
															<div class="gdlr-core-twitter-item-list">
																<span class="gdlr-core-twitter-item-list-content">
																	One of the first miracles of technology in Liberia was the ability to connect. 
																	In the past, communication between Monrovia and rural towns could take days or even weeks. 
																	Letters traveled slowly, and phone calls were a luxury available only to a few. 
																	Today, with the rise of mobile networks, internet providers, and digital platforms, 
																	a farmer in Nimba can instantly connect with a trader in Monrovia
																</span>
															</div>
														</li>

														<li class="gdlr-core-item-mglr">
															<div class="gdlr-core-twitter-item-list">
																<span class="gdlr-core-twitter-item-list-content">
																	In healthcare, technology has become a quiet but powerful miracle worker. 
																	Liberia’s health system, tested by the Ebola epidemic and now strengthened through 
																	digital solutions, is beginning to thrive. 
																	During the Ebola crisis, mobile technology became a lifeline. 
																	Health workers used simple SMS platforms to track cases, report emergencies, 
																	and share health education. This experience proved that even basic technology 
																	could save lives. Today, Liberia continues to build on that lesson.
																</span>
															</div>
														</li>
													</ul>
												</div>
												<!-- End slider -->

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="White Text">
							<div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" style="padding: 40px 0px 35px 35px;" data-sync-height="height-3">
								<div class="gdlr-core-pbf-background-wrap" style="background-color: #1b2434;"></div>
								<div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
									<div class="gdlr-core-pbf-element">
										<div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 0px;">
											
											<div class="gdlr-core-column-service-content-wrapper">
												<div class="gdlr-core-column-service-title-wrap">
													<p>
														Being a member of LITSU means belonging to a community of young innovators, dreamers, and problem-solvers who share the same vision of using technology to transform lives.
													</p>
													<h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 700 ;text-transform: none ;">
														Apply For LITSU Membership
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="gdlr-core-pbf-column-link" href="{% url 'membership_form' %}" target="_self"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Participation -->
			<div class="gdlr-core-pbf-wrapper" style="padding: 55px 100px 20px 100px;">
				<div class="gdlr-core-pbf-background-wrap" style="background-color: #1b2434;"></div>
				<style>
					.gdlr-core-gallery-list img {
						width: 100px; /* Set a fixed width */
						height: 60px; /* Set a fixed height */
						object-fit: center; /* Maintain aspect ratio and cover the area */
					}
				</style>
				<div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
					<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" style="max-width: 1440px;">
						<div class="gdlr-core-pbf-element">
							<div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix gdlr-core-gallery-item-style-grid" style="padding-bottom: 0px;">
								<div class="gdlr-core-gallery-item-holder gdlr-core-js-2 clearfix" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
									
									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-column-first gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="{% static 'assets/img/pan6.jpg' %}" alt="" width="120" height="120" title="banner-1" />
										</div>
									</div>

									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="{% static 'assets/img/pan1.jpg' %}" alt="" width="120" height="120" title="banner-5" />
										</div>
									</div>

									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="" alt="" width="120" height="120" title="banner-2" />
										</div>
									</div>

									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="{% static 'assets/img/pan4.jpg' %}" alt="" width="120" height="120" title="banner-3" />
										</div>
									</div>

									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="{% static 'assets/img/pan3.png' %}" alt="" width="120" height="120" title="banner-4" />
										</div>
									</div>

									<div class="gdlr-core-item-list gdlr-core-gallery-column gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">
										<div class="gdlr-core-gallery-list gdlr-core-media-image">
											<img src="{% static 'assets/img/pan2.png' %}" alt="" width="120" height="120" title="banner-5" />
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div> 
	</div>

{% endblock content %} 