{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}Leadership{% endblock %}</title>

    <div class="container" style="margin: 40px;">
        <div class="text-center rounded shadow-lg position-relative">
            <!-- Back Button -->
            <a href="javascript:history.back()" class="btn btn-outline-primary position-absolute" style="top: 20px; right: 20px;">
                ← Back
            </a>

        </div>
    </div>

    <div class="kingster-page-wrapper" id="kingster-page-wrapper">
        <div class="gdlr-core-page-builder-body">
            
            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 30px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f8f8f8ff ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>

                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 55px ;">
                                            
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 36px ;font-weight: 300 ;letter-spacing: 0px ;text-transform: none ;margin-right: 30px ;">
                                                        Our Leadership of {{leadership.year}}
                                                    </h3>
                                                    <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 36px ;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.president_cover.url}}" target="_self">
                                                                <img src="{{leadership.president_cover.url}}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.president}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            President
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if leadership.vic_president_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            
                                                            <a href="{{ leadership.vic_president_cover.url }}" target="_self">
                                                                <img src="{{ leadership.vic_president_cover.url }}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"  />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.vic_president}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            Vic President
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.secretary_general_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            {% if leadership.secretary_general_cover %}
                                                            <a href="{{leadership.secretary_general_cover.url}}" target="_self">
                                                                <img src="{{leadership.secretary_general_cover.url}}" width="200" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                            {% else %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.secretary_general}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Secretary General
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.financial_secretary_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.financial_secretary_cover.url}}" target="_self">
                                                                <img src="{{leadership.financial_secretary_cover.url}}" width="250" height="250"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.financial_secretary}} 
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                           National Financial Secretary  
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.aLL_chapters_chairma_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.aLL_chapters_chairma_cover.url}}" target="_self">
                                                                <img src="{{leadership.aLL_chapters_chairma_cover.url}}" alt="" width="250" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                <span class="gdlr-core-image-overlay " style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.aLL_chapters_chairman}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Chapters Chairman
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.program_director_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.program_director_cover.url}}" target="_self">
                                                                <img src="{{leadership.program_director_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.program_director}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Program Pirector             
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.sa_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.sa_cover.url}}" target="_self">
                                                                <img src="{{leadership.sa_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.sa}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Presidential Special Aid             
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.training_director_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.training_director_cover.url}}" target="_self">
                                                                <img src="{{leadership.training_director_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.training_director}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Training Director           
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.girls_in_ICTs_chairlady_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.girls_in_ICTs_chairlady_cover.url}}" target="_self">
                                                                <img src="{{leadership.girls_in_ICTs_chairlady_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.girls_in_ICTs_chairlady}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Girls in ICTs Chairlady          
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.national_reporter_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.national_reporter_cover.url}}" target="_self">
                                                                <img src="{{leadership.national_reporter_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.national_reporter}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Reporter        
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.systems_administrator_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.systems_administrator_cover.url}}" target="_self">
                                                                <img src="{{leadership.systems_administrator_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.systems_administrator}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                           National Data-Systems Administrator       
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.p_r_o_cover %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.p_r_o_cover.url}}" target="_self">
                                                                <img src="{{leadership.p_r_o_cover.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.p_r_o}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Public Relations Officer      
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                    {% if leadership.national_champlain_pic %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{leadership.national_champlain_pic.url}}" target="_self">
                                                                <img src="{{leadership.national_champlain_pic.url}}"  alt="" width="280" height="300"  title="Sample-Profile-Pic"  style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>

                                                                <span class="gdlr-core-image-overlay" style="background: rgba(34, 54, 236, 0.11) ;">
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{leadership.national_champlain}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            National Champlain    
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="gdlr-core-pbf-wrapper " style="margin: 0px 0px 0px 0px;padding: 70px 0px 30px 30px;">
                <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffffff ;"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>

                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 55px ;">
                                            
                                            <div class="gdlr-core-title-item-left-icon-wrap">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 55px;">

                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"  style="font-size: 36px; font-weight: 300; letter-spacing: 0px; text-transform: none; margin: 0 auto; text-align: center; display: block;">
                                                        Our Chapters Leadership {{leadership.year}}
                                                    </h3>
                                                    <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 36px ;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% for chairman in chapter_chairmen %}
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 35px ;">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;">
                                                            <a href="{{ chairman.chapter_chairman_cover.url }}" target="_self">
                                                                <img src="{{ chairman.chapter_chairman_cover.url }}" alt="{{ chairman.chapter_chairman_name }}" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;" />
                                                                    <i class="gdlr-core-image-overlay-icon  gdlr-core-size-28 fa fa-link" style="color: #ffffff ;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                                {{chairman.chapter_name}}
                                                            </h3>
                                                        </div>
                                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption">
                                                            {{chairman.chapter_chairman_name}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}