<footer class="">		
    <div class="kingster-copyright-wrapper">
    	<div class="kingster-copyright-container kingster-container clearfix">
    		<div class="kingster-copyright-left kingster-item-pdlr">
    			Copyright All Right Reserved LITSU - 2025  -  by Nectere Group of Company
    		</div>
    		<div class="kingster-copyright-right kingster-item-pdlr">
    			<span class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align gdlr-direction-horizontal" style="padding-bottom: 0px ;display: block ;">
    				<a href="https://web.facebook.com/LITSU.edu.liberia.org" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
    					<i class="fa6b fa6-facebook"></i>
    				</a>
    				<a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
    					<i class="fa6b fa6-linkedin"></i>
    				</a>
    				<a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
    					<i class="fa6b fa6-skype"></i>
    				</a>
    				<a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
    					<i class="fa6b fa6-x-twitter"></i>
    				</a>
    				<a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
    					<i class="fa6b fa6-instagram"></i>
    				</a>
    			</span>
    		</div>
    	</div>
    </div>
</footer>