{% load static %}
<div class="kingster-mobile-header-wrap" >
	<div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header" >
		<div class="kingster-mobile-header-container kingster-container clearfix" >
			<div class="kingster-logo kingster-item-pdlr">
				<div class="kingster-logo-inner">
					<a href="{% url 'home' %}">
						<img src="{% static 'assets/img/logo.jpg' %}" alt="Profile Image" class="site-logo" style="width:50px; height:auto;" />
					</a>
				</div>
			</div>
	
			<div class="kingster-mobile-menu-right" >
				<div class="kingster-mobile-menu">
					<a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu">
						<span></span>
					</a>
					
					<div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
						<ul id="menu-main-navigation" class="m-menu">
							
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home ">
								<a href="{% url 'home' %}">
									Home
								</a>
							</li>	
						
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5735">
								<a> LISTU Chapters</a>
								<ul class="sub-menu">
									
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5739">
										<a>Libeian Chapters</a>
										<ul class="sub-menu">>
											{% for chapter in liberian_chapters %}
												<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5736">
												<a href="{% url 'chapters' chapter.id %}">
													{{chapter.chapters_name}}
												</a>
											</li>
											{% endfor %}
										</ul>
									</li>

									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5740">
										<a>International Chapters</a>
										<ul class="sub-menu">
											{% for chapter in international_chapters %}
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5954">
												<a href="{% url 'chapters' chapter.id %}">
													{{ chapter.chapters_name }}
												</a>
											</li>
											{% endfor %}
										</ul>
									</li>

								</ul>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5728 kingster-normal-menu">
								<a href="{% url 'news_list' %}" class="sf-with-ul-pre">News & Upadtes</a>
							</li>

							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6036 kingster-normal-menu">
								<a class="sf-with-ul-pre">Leadership</a>
								<ul class="sub-menu">
									{% for i in leaderships %}
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6029" data-size="60">
										<a href="{% url 'leadership' i.id %}">
											{{i.year}}
										</a>
									</li>
									{% endfor %}
								</ul>
							</li>

							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6036 kingster-normal-menu">
								<a  class="sf-with-ul-pre">Know's Us</a>
								<ul class="sub-menu">

									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6029" data-size="60">
										<a href="{% url 'about_us' %}">
											About Us
										</a>
									</li>

									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6035" data-size="60">
										<a href="{% url 'contact_us' %}">Contact Us</a>
									</li>

									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6035" data-size="60">
										<a href="{% url 'programs_list' %}">Programs</a>
									</li>

								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>