<div class="kingster-top-bar">
	<div class="kingster-top-bar-background"></div>
	<div class="kingster-top-bar-container kingster-container ">
		<div class="kingster-top-bar-container-inner clearfix">
			<div class="kingster-top-bar-left kingster-item-pdlr">
				<i class="fa fa-envelope-open-o" style="font-size: 15px ;color: #96a2b8 ;margin-right: 8px ;"></i> 
				<a href="mailto:litsu.org@gmail.com">litsu.org@gmail.com</a>
				<i class="fa fa-phone" style="font-size: 15px ;color: #96a2b8 ;margin-left: 18px ;margin-right: 6px ;"></i>
				+231 - 77 024 5416
			</div>
			
			<div class="kingster-top-bar-right kingster-item-pdlr">
				<div class="kingster-top-bar-right-social"></div>
				<a class="kingster-top-bar-right-button" href="give-to-kingster/index.html" target="_blank">E-Book</a>
			</div>
		</div>
	</div>
</div>